<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>TimeStamp Microservice</title>
</head>
<body>
<h1>TimeStamp Microservice</h1>
<div>
    <h2>Input Format</h2>
    <p>1) Input URL: <a href="https://time-stamp-microservice-sepia.vercel.app/api/23-01-01">https://time-stamp-microservice-sepia.vercel.app/api/23-01-01</a></p>
    <p>2) Input URL: <a href="https://time-stamp-microservice-sepia.vercel.app/api/1691984006663">https://time-stamp-microservice-sepia.vercel.app/api/1691984006663</a></p>
</div>

<div>
    <h2>Output Format</h2>
    <p><span>{"unix":1691984006663, "utc":"Mon Aug 14 2023 09:03:26 GMT+0530 (India Standard Time)"}</span></p>
</div>

</body>
</html>